<!--The content below is only a placeholder and can be replaced.-->
<input id="first-input"  [(ngModel)]="first"/>
+
<input id="second-input" [(ngModel)]="second" />
=
<span id="result">{{addResult()}}</span>